/* ----- REGLAGES GENERAUX ----- */
h1{
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}

main{
    max-width: 1170px;
    margin: 0 auto;
}



/* ----- PAGE INDEX ----- */
#index-main img{
    display: block; /* pour utiliser margin auto */
    width: 50%;
    margin: 0 auto;
}



/* ----- HEADER ET FOOTER ----- */

header, footer{
    height: 80px;
    width: 100%;
}

header, footer{
    background-color: #AAA;
    color: #FFF;
    padding: 15px 30px;
}

header > img{
    height: 40px;
}

nav a{
    padding: 0.5em;
}

nav a:hover{
    text-decoration: none;
}

footer{
    position: fixed;
    bottom: 0;
}
