/* ----- REGLAGES GENERAUX ----- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato';
}

h1{
   
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    
}


main{
    max-width: 1170px;
    margin: 64px auto 128px;
}



/* ----- PAGE INDEX ----- */
#index-main img{
    display: block; /* pour utiliser margin auto */
    width: 50%;
    margin: 0 auto;
}



/* ----- FORMS ----- */
#createpokemon-main form{
    width: 100%;
}

input[type="text"], input[type="submit"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 16px;
    margin: 10px 0;

    font-size: 20px;
    border: solid #888 2px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

::placeholder{
    font-size: 20px;
    font-weight: 600;
    color: #888;
}

input[type="submit"]{
    background-color: #4CAF50;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: 0;
}

input[type="submit"]:hover{
    background-color: #008800;
}

label{
    font-size: 20px;
}



/* ----- CONNEXION ----- */
#connexion-main{
    display: flex;
}

#connexion-main > div{
    width: 49%;
    height: fit-content;
    border: solid 2px #AAA;
    padding: 10px;
}

#connexion-main > div:first-of-type{
    margin-right: 1%;
}

#connexion-main > div:last-of-type{
    margin-left: 1%;
}

/* Messages d'erreurs animés */
@keyframes error1{

    0%{
        transform: scale(1.25);
        color: red;
        filter:drop-shadow(2px 2px 2px rgba(71, 61, 161, 0.45)) drop-shadow(-2px -2px 2px rgba(255, 255, 255, 0.45));
    }
    50%{
        transform: scale(0.5);
        color: red;
        filter:drop-shadow(2px 2px 2px rgba(71, 61, 161, 0.45)) drop-shadow(-2px -2px 2px rgba(255, 255, 255, 0.45));
    }
    100%{
        transform: scale(1);
        color: red;
        filter:drop-shadow(2px 2px 2px rgba(71, 61, 161, 0.45)) drop-shadow(-2px -2px 2px rgba(255, 255, 255, 0.45));
  
    }
}

@keyframes hue-rotation {
    0%{
        filter: invert(75%) sepia() saturate(10000%) hue-rotate(0deg) drop-shadow(5px 5px 5px rgba(71, 61, 161, 0.45)) drop-shadow(-2px -2px 2px rgba(190, 49, 49, 0.45))
    }
    100%{
        filter: invert(75%) sepia() saturate(10000%) hue-rotate(360deg) drop-shadow(5px 5px 5px rgba(71, 61, 161, 0.45)) drop-shadow(-2px -2px 2px rgba(190, 49, 49, 0.45))
    }   
}


.boomer{
    /* Un petit grin de folie, pour aider nos ainés (merci à Lïlo)*/
    animation: error1 4s alternate-reverse infinite ease-in-out;
    margin-top: -10vh;
}

.error{
  animation: 4s alternate infinite hue-rotation ease-in-out;
  }





/* ----- COLLECTION ----- */
.collection-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.collection-card{
    display: flex;
    width: 26%;
    margin: 32px 0;
    justify-content: space-around;
    align-items: center;
}

.collection-text{
    display: inline-block;
    width: 40%;
}

.collection-card > img{
    display: inline-block;
    margin: auto 0;
    width: 50%;
}



/* ----- PROFILE ----- */
#profile-main h3 span{
    font-weight: normal;
}

#profile-image{
    display: flex;
}

#profile-image img{
    width: 200px;
    margin-left: 32px;
}

hr{
    margin: 32px 0;
}

section.collection-container{
    justify-content: flex-start;
}

section.collection-container > div{
    margin-right: 80px;
}




/* ----- HEADER ET FOOTER ----- */

header, footer{
    display: flex;
    height: 60px;
    width: 100%;

    padding: 15px 30px;

    background-color: #AAA;
    color: #FFF;
}

header{
    justify-content: space-between;
    align-items: center;
}

header > img{
    height: 40px;
}

nav > ul{
    display: flex;

    list-style : none;
}

nav a{
    padding: 0.5em;
    color: inherit;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

footer{
    position: fixed;
    bottom: 0;

    align-items: center;
    justify-content: center;
}
